.boxmask_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .boxmask__bottom {
    overflow: hidden;
  }
}
.boxmask__bottom {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
