.button {
  min-width: rem(120px);
  height: rem(40px);
  background: var(--bg-color);

  &__black {
    --bg-color: var(--black);
  }
  &__white {
    --bg-color: var(--white);
  }

  &_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: default;
    pointer-events: none;
  }

  &_wrapper {
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
    inset: 0;
    background: url('/images/button-wrapper.png');
    width: 100%;
    height: 100%;
  }
}

.label {
  text-transform: uppercase;
}
