.wrapper {
  position: relative;
  overflow: hidden;

  @include min-tablet {
    flex: 1;
    margin-right: rem(24px);
    margin-top: 0;
  }

  @include pcSmall {
    margin: 0;
  }

  & > div:first-child {
    margin-bottom: rem(24px);

    @include min-tablet {
      display: none;
    }
  }

  // & > div {
  //   &:nth-child(2) {
  //     margin: rem(20px) 0;
  //   }
  // }
  .rarelabel {
    position: absolute;
    bottom: rem(10px);
    z-index: 5;
    height: auto;

    @include min-tablet {
      bottom: rem(20px);
    }
  }
}
