.wrapper {
  position: relative;
  @include min-tablet {
    flex: 1;
    margin-right: rem(24px);
  }

  @include pcSmall {
    margin: 0;
  }

  & > div {
    &:nth-child(2) {
      margin: rem(20px) 0;
    }
  }
  .rarelabel {
    position: absolute;
    bottom: rem(10px);
    z-index: 5;
    height: auto;
    @include pcSmall {
      display: none;
    }
    @include min-tablet {
      bottom: rem(27px);
    }
  }
}
