.header {
  background: var(--black);
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: rem(20px) 0;

  &_mobile_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: rem(16px);
    gap: 20px;

    & > div {
      height: rem(48px);
      width: 100%;

      & > div:nth-child(2) {
        margin: 0 rem(-12px);
      }

      button {
        justify-content: center;
      }
    }
  }
}
