.header {
  background: var(--black);
  width: 100vw;
  height: rem(228px);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  &_mobile_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: rem(16px);
    gap: 20px;
    & > div {
      height: rem(48px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-child {
        border-bottom: 1px solid var(--white);
      }
      a {
        font-size: rem(12px);
        font-style: normal;
        font-weight: 400;
      }
    }
    & > div:last-child {
      & > img:first-child {
        display: none;
      }
    }
  }
}
