.wrapper {
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 rem(16px);
  position: relative;

  height: rem(342px);

  @include min-tablet {
    height: rem(330px);
    padding: rem(16px) rem(16px) 0;
  }

  @include pcSmall {
    height: rem(380px);
    padding: rem(16px) rem(16px) 0;
  }

  p {
    text-align: center;
    // font-family: var(--font-goldman);
    font-weight: 400;

    background-clip: text;
    background: var(--label-common);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;

    @include min-tablet {
      font-size: rem(14px);
    }

    @include pcSmall {
      font-size: rem(16px);
    }

    span {
      display: block;
      margin-bottom: rem(8px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
