:root {
  --white: #ffffff;
  --black: #000000;
  --buy-modal-bg: rgba(0, 0, 0, 0.85);
  --light-green: linear-gradient(180deg, #b8ffc4 0%, #77ffc6 100%);
  --elipse-bg: #bcffd5;
  --label-color: #93ffc5;

  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

  --font-base: var(--eight-bits, '8BIT WONDER');
  --font-goldman: var(--goldman, 'Goldman');
}
