:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #080808;
  --yellow: #ffce44;
  --dark-grey: #090909;
  --silver-gray: #5f5f66;
  --gray: #424247;
  --lightGray: #73737a;
  --Neutral-Light-00: #c7c7d1;
  --primaryPurple: #6363ff;
  --neutral-dark: #39393d;

  --background: #252529;
  --cardBg: #18181b;
  --cardBg2: #27272b;

  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

  --font-base: var(--matter-sq, 'MatterSQ');

  --button-gap: #{rem(12px)};

  --spacing-or-radius: #{rem(4px)};
  --spacing-or-radius-2: #{rem(8px)};
  --spacing-or-radius-3: #{rem(12px)};
}
