.container {
  max-width: 100vw !important;

  @include min-tablet {
    width: 100% !important;
    padding-left: rem(40px);
    padding-right: rem(40px);
    max-width: 1440px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
