.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: rem(24px);
}

.block {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(80px);
  position: relative;
  span {
    text-align: center;
    width: fit-content;
    line-height: normal !important;
    @include min-tablet {
      padding: 0 rem(20px);
    }
  }

  &__down {
    img {
      transform: rotate(180deg);
    }
  }
}
