.grid-debug {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  pointer-events: none;
  height: 100vh;

  :global {
    .debug_col {
      background: rgba(255, 0, 0, 0.1);
      height: 100vh;
    }
  }
}

.grid_wrapper {
  --gap: #{rem(20px)};

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--gap);

  @media (min-width: 1200px) {
    --gap: #{rem(36px)};
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.hidden {
  display: none;
}
