.grid-debug {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  pointer-events: none;
  height: 100vh;

  :global {
    .debug_col {
      background: rgba(255, 0, 0, 0.2);
      height: 100vh;
    }
  }
}

.grid_wrapper {
  --gap: #{rem(16px)};

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--gap);

  @include min-tablet {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    --gap: #{rem(24px)};
  }

  @include pcSmall {
    --gap: #{rem(36px)};
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.hidden {
  display: none;
}
