.textUnderline {
  overflow: hidden;
  position: relative;

  &_line {
    display: block;
    border-bottom: 1px solid var(--dark);
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;

    &__clone {
      position: absolute;
      left: -100%;
      bottom: 0;
    }
  }
}
