.wrapper {
  flex-direction: column;
  gap: rem(24px);
  width: rem(255px);

  display: none;

  @include pcSmall {
    width: rem(342px);
    display: flex;
  }

  & > div:last-child {
    height: rem(51px);
    width: 100%;
    display: none;

    @include pcSmall {
      display: block;
    }
  }

  &_mteb {
    display: flex;
    flex-direction: column;
    gap: rem(24px);
    width: 100%;
  }
}
