.wrapper {
  flex-direction: column;
  gap: rem(24px);
  width: rem(316px);

  display: none;

  @include pcSmall {
    display: flex;
  }

  & > div:last-child {
    height: rem(51px);
    width: 100%;
    display: none;

    @include pcSmall {
      display: block;
    }
  }
}
