.label {
  --color-label: var(--white);
  --fw-label: 500;

  font-family: var(--font-base);
  font-style: normal;
  line-height: 130%;

  font-weight: var(--fw-label);
  color: var(--color-label);

  &__40 {
    font-size: rem(40px);
    line-height: 108%;
    letter-spacing: -0.8px;
  }

  &__32 {
    font-size: rem(32px);

    span {
      font-size: inherit;
      line-height: 108%;
      letter-spacing: -0.64px;
      display: block;
      font-weight: inherit;
    }
  }

  &__28 {
    font-size: rem(28px);

    span {
      font-size: inherit;
      line-height: 108%;
      letter-spacing: -0.56px;
      display: block;
      font-weight: inherit;
    }
  }

  &__16 {
    font-size: rem(16px);
  }

  &__14 {
    font-size: rem(14px);
  }

  &__12 {
    font-size: rem(16px);
    letter-spacing: -0.32px;

    @include pcSmall {
      letter-spacing: -0.24px;
      font-size: rem(12px);
    }
  }

  &__white {
    --color-label: var(--white);
  }

  &__black {
    --color-label: var(--dark);
  }

  &__silver {
    --color-label: var(--silver-gray);
  }

  &__purple {
    --color-label: var(--primaryPurple);
  }

  &__bold {
    --fw-label: 700;
  }

  &__medium {
    --fw-label: 500;
  }

  &__normal {
    --fw-label: 400;
  }
}
