.wrapper {
  width: 100vw;
  display: flex;
  gap: rem(20px);
  margin: 0;
  left: 0;
  right: 0;
  background: var(--black);
  position: absolute;
  top: calc(100% + #{rem(15px)});

  @include min-tablet {
    padding: rem(32px) 0;
    gap: rem(28px);
  }

  @include pcSmall {
    gap: rem(40px);
  }
}

.item {
  width: max-content;
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-content: center;

  min-width: rem(100px);
  gap: rem(20px);

  @include min-tablet {
    height: rem(40px);
    gap: rem(28px);
  }

  @include pcSmall {
    min-width: rem(200px);
    gap: rem(40px);
  }

  &__image {
    --icon-size: #{rem(24px)};

    width: var(--icon-size);
    height: var(--icon-size);

    @include min-tablet {
      --icon-size: #{rem(28px)};
    }

    @include pcSmall {
      --icon-size: #{rem(40px)};
    }

    position: relative;

    img {
      position: absolute;
      object-fit: fill;
    }
  }

  span:last-child {
    margin-top: rem(2px);
  }
}
