.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(24px);

  & > div {
    height: rem(54px);

    button {
      padding: 0 rem(25px);
      gap: 0;
      justify-content: space-between;
    }
  }
}
