.wrapper {
  width: 100%;
  display: flex;
  gap: rem(12px);

  @include min-tablet {
    flex-direction: column;
  }
  & > div {
    height: rem(40px);
    width: calc(100% / 3);
    @include min-tablet {
      width: 100%;
    }
    @include pcSmall {
      height: rem(48px);
    }

    button {
      height: 100%;
      padding: 0 rem(25px);
      gap: 0;
      justify-content: space-between;
    }
  }
}
