.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(12px);

  @include pcSmall {
    gap: rem(24px);
  }

  & > div {
    height: rem(60px);

    @include min-tablet {
      height: rem(54px);
    }

    button {
      height: 100%;
      padding: 0 rem(25px);
      gap: 0;
      justify-content: space-between;
    }
  }
}
