.rare {
  width: 100%;
  height: rem(275px);
  display: flex;
  align-items: center;
  justify-content: center;

  &_label {
    color: var(--black);
    text-align: center;
    -webkit-text-stroke-width: rem(1px);
    -webkit-text-stroke-color: var(--label-color);
    font-size: rem(36px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    @include min-tablet {
      font-size: rem(48px);
      -webkit-text-stroke-width: rem(3px);
    }
    @include pcSmall {
      font-size: rem(56px);
      -webkit-text-stroke-width: rem(4px);
    }
  }
}
