.rare {
  width: 100%;
  height: rem(275px);
  display: flex;
  align-items: center;
  justify-content: center;

  --out-sd: #{rem(3px)};
  --in-sd: #{rem(-3px)};

  @include min-tablet {
    --out-sd: #{rem(4px)};
    --in-sd: #{rem(-4px)};
  }

  @include pcSmall {
    --out-sd: #{rem(5px)};
    --in-sd: #{rem(-5px)};
  }

  &_label {
    color: var(--black);
    text-align: center;
    font-size: rem(28px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: rem(5px);

    @include min-tablet {
      font-size: rem(48px);
    }
    @include pcSmall {
      font-size: rem(56px);
    }

    &__common {
      text-shadow:
        var(--in-sd) 0 var(--label-common),
        var(--out-sd) 0 var(--label-common),
        0 var(--in-sd) var(--label-common),
        0 var(--out-sd) var(--label-common),
        var(--in-sd) var(--in-sd) var(--label-common),
        var(--out-sd) var(--out-sd) var(--label-common),
        var(--in-sd) var(--out-sd) var(--label-common),
        var(--out-sd) var(--in-sd) var(--label-common);
    }
    &__rare {
      text-shadow:
        var(--out-sd) 0 var(--label-rare),
        var(--in-sd) 0 var(--label-rare),
        0 var(--out-sd) var(--label-rare),
        0 var(--in-sd) var(--label-rare),
        var(--out-sd) var(--out-sd) var(--label-rare),
        var(--in-sd) var(--in-sd) var(--label-rare),
        var(--out-sd) var(--in-sd) var(--label-rare),
        var(--in-sd) var(--out-sd) var(--label-rare);
    }
    &__epic {
      text-shadow:
        var(--out-sd) 0 var(--label-epic),
        var(--in-sd) 0 var(--label-epic),
        0 var(--out-sd) var(--label-epic),
        0 var(--in-sd) var(--label-epic),
        var(--out-sd) var(--out-sd) var(--label-epic),
        var(--in-sd) var(--in-sd) var(--label-epic),
        var(--out-sd) var(--in-sd) var(--label-epic),
        var(--in-sd) var(--out-sd) var(--label-epic);
    }
    &__legendary {
      text-shadow:
        var(--out-sd) 0 var(--label-legendary),
        var(--in-sd) 0 var(--label-legendary),
        0 var(--out-sd) var(--label-legendary),
        0 var(--in-sd) var(--label-legendary),
        var(--out-sd) var(--out-sd) var(--label-legendary),
        var(--in-sd) var(--in-sd) var(--label-legendary),
        var(--out-sd) var(--in-sd) var(--label-legendary),
        var(--in-sd) var(--out-sd) var(--label-legendary);
    }
    &__chaos {
      text-shadow:
        var(--out-sd) 0 var(--label-chaos),
        var(--in-sd) 0 var(--label-chaos),
        0 var(--out-sd) var(--label-chaos),
        0 var(--in-sd) var(--label-chaos),
        var(--out-sd) var(--out-sd) var(--label-chaos),
        var(--in-sd) var(--in-sd) var(--label-chaos),
        var(--out-sd) var(--in-sd) var(--label-chaos),
        var(--in-sd) var(--out-sd) var(--label-chaos);
    }
  }
}
