.main_wrapper {
  width: 100%;
  height: auto;
  padding-top: rem(130px); /* header height + padding-top */
  // padding-bottom: rem(80px);
  overflow-x: hidden;

  @include pcSmall {
    padding-top: rem(113px); /* header height + padding-top */
  }

  .content {
    display: flex;
    flex-direction: column-reverse;

    @include onlyMobile {
      padding-left: rem(16px);
      padding-right: rem(16px);
    }

    @include min-tablet {
      flex-direction: row-reverse;
    }

    @include pcSmall {
      align-items: flex-start;
      justify-content: center;
      flex-direction: row;
      height: auto;
    }
  }
}
