.main_wrapper {
  display: flex;
  height: 100dvh;

  flex-direction: column;

  @include min-tablet {
    padding-top: rem(116px); // header height + padding-top
    flex-direction: row-reverse;
  }

  @include pcSmall {
    padding-top: rem(96px); // header height + padding-top
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
