.main_wrapper {
  width: 100%;
  min-height: 100dvh;
  padding-top: rem(96px); /* header height + padding-top */
  padding-bottom: rem(50px); /* header height + padding-top */
  overflow: hidden;

  @include min-tablet {
    padding-top: rem(116px); /* header height + padding-top */
    padding-bottom: rem(50px); /* header height + padding-top */
  }

  @include pcSmall {
    padding-top: rem(173px); /* header height + padding-top */
    padding-bottom: rem(50px); /* header height + padding-top */
  }

  .content {
    display: flex;
    flex-direction: column-reverse;

    @include onlyMobile {
      padding-left: rem(16px);
      padding-right: rem(16px);
    }

    @include min-tablet {
      flex-direction: row-reverse;
    }

    @include pcSmall {
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
  }
}
