.header {
  background: var(--black);
  color: var(--white);
  width: 100%;
  height: auto;

  @include min-tablet {
    height: rem(76px);
  }

  position: fixed;
  top: 0;
  z-index: 50;
  // overflow: hidden;

  display: flex;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(16px);

    @include min-tablet {
      padding-top: rem(8px);
      padding-bottom: rem(8px);
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: rem(8px);

      &_link {
        display: flex;
        align-items: center;
        gap: rem(8px);

        div {
          &:nth-child(1),
          &:nth-child(2) {
            @include onlyMobile {
              display: none;
            }
          }

          &:last-child {
            width: rem(172px);
          }
        }
      }
    }
  }
}

.hamburger {
  width: rem(32px);
  height: rem(32px);
  position: relative;

  display: block;

  @include min-tablet {
    display: none;
  }
}

.open {
  display: none !important;
}
