.header {
  background: var(--black);
  color: var(--white);
  width: 100%;
  height: auto;
  position: relative;

  &__line {
    width: 100%;
    position: absolute;
    height: rem(15px);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__lines {
      width: 100%;
      max-width: rem(176px);
      transform: scale(1.01);
      > img {
        position: relative !important;
        z-index: 3;
      }
    }
    &__center {
      position: relative;
      z-index: 0;
      width: 100%;
      height: rem(3.3px);
      transform: translate(0%, #{(em(-1.1px))});
      background: var(--white);
      @include min-tablet {
        height: rem(4px);
        transform: translate(0%, #{(em(-1.5px))});
      }
    }
  }

  &_logo {
    position: relative;
    width: rem(40px);
    height: rem(40px);
    @include min-tablet {
      width: rem(60px);
      height: rem(60px);
    }
    @include pcSmall {
      width: rem(65px);
      height: rem(65px);
    }
  }
  @include min-tablet {
    height: rem(76px);
  }

  @include pcSmall {
    height: auto;
  }

  position: fixed;
  top: 0;
  z-index: 50;
  // overflow: hidden;

  display: flex;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(16px);

    @include min-tablet {
      padding-top: rem(8px);
      padding-bottom: rem(8px);
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: rem(8px);

      &_link {
        display: flex;
        align-items: center;
        gap: rem(8px);

        & > div {
          &:nth-child(1),
          &:nth-child(2) {
            svg {
              position: initial;
            }

            div:nth-child(2) {
              border-width: rem(2px);
              margin: 0 rem(-12px);
            }

            @include onlyMobile {
              display: none;
            }
          }

          &:last-child {
            width: rem(172px);

            button {
              gap: rem(10px);
            }
          }

          button {
            justify-content: center;
          }
        }
      }
    }
  }
}

.hamburger {
  width: rem(32px);
  height: rem(32px);
  position: relative;

  display: block;

  @include min-tablet {
    display: none;
  }
}

.open {
  display: none !important;
}
