.header {
  background: linear-gradient(180deg, var(--dark-grey) 0%, rgba(9, 9, 9, 0) 100%);
  color: var(--white);
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 50;
  overflow: hidden;

  display: flex;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(8px);
    padding-bottom: rem(8px);

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: rem(8px);

      button {
        &:last-child {
          width: rem(172px);
        }
      }
    }
  }
}
