.wrapper {
  width: 100%;

  @include min-tablet {
    height: rem(489px);
  }

  @include pcSmall {
    height: rem(634px);
  }

  position: relative;

  .image {
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .elipse {
    position: absolute;
    bottom: rem(20px);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: rem(544px);
    background: var(--elipse-bg);
    filter: blur(#{rem(80px)});
    width: rem(544px);
    height: rem(544px);
    flex-shrink: 0;
    z-index: 1;

    display: none;

    @include pcSmall {
      display: block;
    }
  }

  .btn {
    position: absolute;
    top: rem(-22px);
    z-index: 3;
    bottom: 0;
    margin: auto 0;

    @include min-tablet {
      width: rem(47px);
      height: rem(188px);
    }

    @include pcSmall {
      width: rem(68px);
      height: rem(272px);
    }

    &_prev {
      left: rem(-4px);
    }

    &_next {
      right: rem(-8px);
    }
  }
}
