.bottom {
  display: none;
  width: 100%;
  gap: rem(24px);
  margin-top: rem(40px);

  @include min-tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include pcSmall {
    display: none;
  }

  & > div {
    &:first-child {
      width: auto;
      flex: 1;
    }
    &:last-child {
      flex-basis: 50%;
    }
  }

  &__addrees {
    p {
      font-size: rem(18px) !important;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    gap: rem(24px);
    width: 100%;

    & > div {
      width: 100%;

      &:first-child {
        display: flex;
        width: 100%;

        & > div {
          width: 30%;

          button {
            flex-direction: column;
          }
        }
      }

      &:last-child {
        height: rem(52px);
      }
    }
  }
}
.bottom_wrapper {
  & > :last-child {
    flex-direction: row;
    margin-top: rem(40px);
    display: none;
    @include min-tablet {
      display: flex;
    }
    @include pcSmall {
      display: none;
    }
  }
}
