.bottom {
  display: none;
  width: 100%;
  gap: rem(24px);
  height: rem(52px);
  margin-top: rem(40px);

  @include min-tablet {
    display: flex;
  }

  @include pcSmall {
    display: none;
  }

  & > div {
    &:first-child {
      width: auto;
      flex: 1;
    }
    &:last-child {
      width: rem(244px);
    }
  }
}
.bottom_wrapper {
  & > :last-child {
    flex-direction: row;
    margin-top: rem(40px);
    display: none;
    @include pcSmall {
      display: none;
    }
  }
}
