.two {
  width: 100%;
  display: flex;
  gap: rem(8px);
  height: rem(40px);

  & > div {
    flex-basis: 50%;

    button {
      justify-content: center;
      gap: rem(4px);

      & > * {
        font-size: rem(20px);
      }
    }
  }
}
