.two {
  width: 100%;
  display: flex;
  gap: rem(8px);
  height: rem(40px);

  & > div {
    flex-basis: 50%;

    div:nth-child(2) {
      clip-path: polygon(15% 0%, 85% 0, 85% 101%, 15% 101%);

      @include pcSmall {
        clip-path: polygon(10% 0, 90% 0, 90% 101%, 10% 101%);
      }
    }

    button {
      justify-content: center;
      gap: rem(4px);

      & > * {
        font-size: rem(20px);
      }
    }
  }
}
